@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu&family=Ysabeau+Office&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family:'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,#C33764,#1D2671);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}    

.todo-app h1{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h1 img{
    width: 100px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 11px;
    font-weight: 14px;
    font-size: 16px;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 30px;
}

button:hover{
    background: #ff1900;
    color: white;
}

ul li{
    font-size: 1rem;
    list-style: none;
    font-size: 17px;
    padding: 14px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border:1px solid grey;
    background-size:cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url("checked.png");

}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}